# vim:ft=toml
# TODO: How to make env var conditional ?
#
# Used to customize configuration when doing a `chezmoi init $repos`.
#
{{/* Boolean */}}
{{- $full := false }}
{{- $base := false }}
{{- $minimal := false -}}
{{- $headless := false }}

{{- $secret := false -}}
{{- $bw := false -}}
{{- $passunix := false -}}
{{- $gpg := false }}
{{- "" -}}

{{ if .chezmoi.os "android" }}
{{- $name := "mariodroid" -}}
{{ else }}
{{- $name := "Romario" -}}
{{- end -}}
{{- $git_name := "romariorobby" -}}
{{- $git_email := "romariorobby@yahoo.com" -}}

{{- if (env "BW") -}}
{{-   $secret = true -}}
{{-   $passunix = false -}}
{{-   $bw = true -}}
{{- end -}}

{{- if (env "PASS") -}}
{{-   $secret = true -}}
{{-   $passunix = true -}}
{{-   $bw = false -}}
{{- end -}}

{{- if (env "MINIMAL") -}}
{{-   $minimal = true -}}
{{- end }}

{{- if (env "PROMPT") }}
{{-   $minimal = promptBool "minimal" -}}
{{-   if $minimal -}}
{{-     $bw = false -}}
{{-     $passunix = false -}}
{{-   else }}
{{-     $bw = promptBool "bw" -}}
{{-     $passunix = promptBool "pass" -}}
{{-   end -}}

{{-   $name := promptString "Username for Chezmoi" -}}
{{-   $git_name := promptString "Git Username for author/commiter" -}}
{{-   $git_email := promptString "Git Email Adress for author/commiter" -}}
{{- end -}}

# GPG
encryption = "gpg"
[gpg]
  symmetric = "true"

[data]
  name = "{{ $name }}"
  full = {{ $full }}
  base = {{ $base }}
  headless = {{ $headless }}
  minimal = {{ $minimal }}
  secret = {{ $secret }}
  pass = {{ $passunix }}
  bw = {{ $bw }}
    [data.git]
	    name = "{{ $git_name }}"
	    email = "{{ $git_email }}"
