# vim:ft=toml

#
# Used to customize configuration when doing a `chezmoi init $repos`.
# by default password manager using `pass` alternatively using `bitwarden`
#
{{/* Boolean */}}
{{- $minimal := false -}}
{{- $secret := true -}}

{{- $bw := false -}}
{{- "" -}}

{{- $name := "Romario" -}}
{{- $git_name := "romariorobby" -}}
{{- $git_email := "romariorobby@yahoo.com" -}}

{{- if (env "SECRETOFF") -}}
{{- $secret = false -}}
{{- end -}}

{{- if (env "BW") -}}
{{- $bw = true -}}
{{- end -}}

{{- if (env "DOTMIN") -}}
{{- $minimal = true -}}
{{- end }}

{{- if (env "PROMPT") }}
{{- $minimal = promptBool "minimal" -}}
{{- if $minimal -}}
{{- $secret = false -}}
{{- else }}
{{- $secret = promptBool "secret" -}}
{{- end -}}

{{- $name := promptString "Username for Chezmoi" -}}
{{- $git_name := promptString "Git Username for author/commiter" -}}
{{- $git_email := promptString "Git Email Adress for author/commiter" -}}
{{- end -}}

# GPG
encryption = "gpg"
[gpg]
  symmetric = "true"

[data]
  name = "{{ $name }}"
  minimal = {{ $minimal }}
  secret = {{ $secret }}
  bw = {{ $bw }}
    [data.git]
	    name = "{{ $git_name }}"
	    email = "{{ $git_email }}"

