{{- if .secret -}}
{{-   if .bw -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       (bitwarden "item" "archlaptop-ed25519pub").notes -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       (bitwarden "item" "macbook-ed25519pub").notes -}}
{{-     else if (eq .chezmoi.os "android") }}
{{-       (bitwarden "item" "android-ed25519pub").notes -}}
{{-     end -}}
{{-   else if .pass -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       pass "ssh/archlaptop-ed25519pub" -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       pass "ssh/macbook-ed25519pub" -}}
{{-     else if (eq .chezmoi.os "android") }}
{{-       pass "ssh/android-ed25519pub" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
