{{- if .secret -}}
{{-   if .bw -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       (bitwarden "item" "archlaptop-rsapub").notes -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       (bitwarden "item" "macbook-rsapub").notes -}}
{{-     end -}}
{{-   else if .pass -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       pass "ssh/archlaptop-rsapub" -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       pass "ssh/macbook-rsapub" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
