{{- if .secret -}}
{{-   if (eq .chezmoi.os "linux") }}
{{-     (bitwarden "item" "archlaptop-sshpub").notes -}}
{{-   else if (eq .chezmoi.os "darwin") }}
{{-     (bitwarden "item" "macbook-sshpub").notes -}}
{{-   end -}}
{{- end -}}
