{{- if .secret -}}
{{-   if (eq .chezmoi.os "linux") }}
{{-     (bitwarden "item" "sshpub").notes -}}
{{-   else if (eq .chezmoi.os "darwin") }}
{{-     (bitwarden "item" "sshpubmac").notes -}}
{{-   end -}}
{{- end -}}
