{{- if .secret -}}
{{-   if .bw -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       (bitwarden "item" "archlaptop-sshpriv").notes -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       (bitwarden "item" "macbook-sshpriv").notes -}}
{{-     end -}}
{{-   else if .pass -}}
{{-     if (eq .chezmoi.os "linux") }}
{{-       passRaw "ssh/archlaptop-sshpriv" -}}
{{-     else if (eq .chezmoi.os "darwin") }}
{{-       passRaw "ssh/macbook-sshpriv" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
