{{- if .secret -}}
{{-   if (eq .chezmoi.os "linux") }}
{{-     (bitwarden "item" "sshpriv").notes -}}
{{-   else if (eq .chezmoi.os "darwin") }}
{{-     (bitwarden "item" "sshprivmac").notes -}}
{{-   end -}}
{{- end -}}
