clear_all_shortcuts yes
kitty_mod alt+shift
# Font resizeing
map kitty_mod+equal     change_font_size all +1.0
map kitty_mod+minus     change_font_size all -1.0
map kitty_mod+backspace change_font_size all 0

# Scrolling
map alt+k         scroll_line_up
map alt+j         scroll_line_down
map alt+up        scroll_line_up
map alt+down      scroll_line_down
map kitty_mod+k   scroll_page_up
map kitty_mod+j   scroll_page_down
map alt+home      scroll_home
map alt+end       scroll_end
map kitty_mod+[   show_scrollback

# TABBING
# map kitty_mod+tab>     move_tab_forward
# map kitty_mod+tab>     move_tab_backward
map kitty_mod+tab>r set_tab_title
map kitty_mod+tab>q close_tab
map kitty_mod+tab>c close_tab
map kitty_mod+tab>d close_tab
map kitty_mod+tab>r set_tab_title
map kitty_mod+tab>n new_tab
map kitty_mod+tab>l next_tab
map kitty_mod+tab>h previous_tab
map kitty_mod+tab>j move_tab_forward
map kitty_mod+tab>k move_tab_backward

# URL
detect_urls yes
open_url_modifiers alt
# open_url_modifiers kitty_mod
{{ if eq .chezmoi.os "linux" -}}
open_url_with dmenuhandler
{{ else }}
open_url_with default
{{ end }}
url_prefixes http https file ftp gemini irc gopher mailto news git
#
terminal_select_modifiers alt
# pointer_shape_when_grabbed beam
# HINTING
map kitty_mod+f>f kitten hints
map kitty_mod+f>w kitten hints --type word --program -
map kitty_mod+f>h kitten hints --type hash --program -
# This not https!
map kitty_mod+f>l kitten hints --type hyperlink
# map kitty_mod+l kitten hints --type hyperlink --program -
map kitty_mod+f>c edit_config_file

# WINDOW #
#
## LAYOUT ##
map kitty_mod+. next_layout
# no previous_layout so just set the same to next
map kitty_mod+, last_used_layout
# fat,grid,horizontal,stack,tall,vertical
map kitty_mod+s launch --location=hsplit
map kitty_mod+v launch --location=vsplit
map kitty_mod+9 move_window_forward
map kitty_mod+0 move_window_backward
map ctrl+shift+t move_window_to_top
map kitty_mod+z goto_layout splits
map kitty_mod+q close_window
map kitty_mod+n new_os_window_with_cwd
map super+alt+enter new_os_window_with_cwd
map ctrl+alt+enter new_os_window_with_cwd
map kitty_mod+enter new_window
map kitty_mod+r start_resizing_window
map kitty_mod+j next_window
map kitty_mod+k previous_window
# map kitty_mod+n new_os_window
map kitty_mod+w>1 first_window
map kitty_mod+w>2 second_window
map kitty_mod+w>3 third_window
map kitty_mod+w>4 fourth_window
map kitty_mod+w>5 fifth_window
map kitty_mod+w>6 sixth_window
map kitty_mod+w>7 seventh_window
map kitty_mod+w>8 eighth_window
map kitty_mod+w>9 ninth_window
map kitty_mod+w>0 tenth_window

# COPY AND PASTING
map kitty_mod+c copy_to_clipboard
map kitty_mod+y copy_to_clipboard
# map alt+c copy_to_clipboard
# map alt+y copy_to_clipboard
# map alt+p paste_from_clipboard
# map alt+v paste_from_clipboard
map kitty_mod+p  paste_from_clipboard

# vim: set ft=sh:
