[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[core]
	editor = nvim
[github]
	user = {{ .git.name }}
[alias]
	g = git
	b = branch -v
	bd = branch -d
	bD = branch -D
	co = checkout
	com = checkout -m
	cone = checkout --no-edit
	coa = checkout --amend
	coane = checkout --amend --no-edit
	ci = commit
	m = merge
	s = status
	rh = reset --hard
	lgr = log --graph --date=relative
	lo = log --oneline
[init]
	defaultBranch = main
