#!/bin/sh
#// vim:ft=sh
{{ if (eq .chezmoi.os "darwin") }}
alias \
		ls="gls -hN --color=auto --group-directories-first" \
		la="gls -a -hN --color=auto --group-directories-first" \
		ll="gls -l -hN --color=auto --group-directories-first" \
		grep="grep --color=auto" 
		rm="rm -vi" \
{{ end }}
{{ if (eq .chezmoi.os "linux") }}
alias \
		ls="ls -hN --color=auto --group-directories-first" \
		la="ls -a -hN --color=auto --group-directories-first" \
		ll="ls -l -hN --color=auto --group-directories-first" \
		grep="grep --color=auto" \
		rm="rm -vI" \
		xevs='xev |	awk -F"[ )]+" "/^KeyPress/ { a[NR+2] } NR in a { printf \"%-3s %s\n\", \$5, \$8 } "' \
		xevg="xev | grep -A6 KeyPress"\
{{ end }}
alias \
		acp="advcp -g" \
		amv="advmv -g" \
		cp="cp -iv" \
		cp="cp -iv" \
		mv="mv -iv" \
		mkd="mkdir -pv" \
		cl="clear" \
		..="cd .." \
		...="cd ../.." \
		ka="killall"
{{ if (eq .chezmoi.os "linux") }}
# Arch-Pacman-yay
alias \
		sup="sudo pacman" \
		pgbl="sudo pacman -Sgg | grep blackarch | cut -d ' ' -f2 | sort -u" \
		pbl="sudo pacman -Sg | grep blackarch" \
		pqq="pacman -Qq" \
		pqq="pacman -Qq" \
		pqqc="pacman -Qq | wc -l" \
		ps="sup -S" \
		pqs="sup -Qs" \
		ys="yay -S " \
		yqu="yay -Qu " \
		yqs="yay -Qs " \
		ysy="yay -Syy " \
		ysyu="yay -Syyu " \
		fsups="pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S" \
		fys="yay -Slq | fzf --multi --preview 'yay -Si {1}' | xargs -ro yay -S"
{{ end }}
{{ if (eq .chezmoi.os "linux") }}
alias \
		systemctl_list="systemctl list-unit-files --state=enabled"
{{ end }}
# APP
alias \
		ff="fzf" \
		v="nvim" \
		vim="nvim" \
		vimm="vim"\
		bwin='bw login $(echo $BW_EMAIL $BW_MASTER)'\
		bwout="bw logout"\
		bwg="bw get"\
		bwgp="bw get password"\
		suv="sudo nvim" \
		suct="sudo VISUAL=nvim crontab" \
		ct="crontab" \
		gk="getkeys" \
		z="zathura" \
		sx="sxiv" \
		eb="epy" \
		fv='nvim "$(fzf)"' \
		feb='epy "$(fzf)"'\
		fmpv='mpv "$(fzf)"'\
		fy="ytfzf -D"\
		fyd="ytfzf -d"\
		vimdiff="nvim -d" \
		tabz='tabbed -c zathura -e' \
		dragon="dragon-drag-and-drop" \
		py="python" \
		py2="python2" \
		ktest="klavaro" \
		udm="udisksctl mount -b" \
		udum="udisksctl unmount -b" 
		# deprecated
		#fv="fzf | xargs -r nvim" \
		#fmpv="fzf | xargs -r mpv" \
		#mon50="sudo ddccontrol -r 0x10 -w 50 dev:/dev/i2c-8" \
		#mon100="sudo ddccontrol -r 0x10 -w 100 dev:/dev/i2c-8" \
		#ss_full="flameshot full -p ~/pictures/screenshot/" \
		#abook="abook --config "XDG_CONFIG_HOME"/abook/abookrc --datafile "$XDG_DATA_HOME"/abook/addressbook" \
# Tmux
alias \
		tm="tmux" \
		tmk="tmux kill-session" \
		tn="tmux new -t " \
		tms="tmux ls" \
		tmd="tmux detach" \
		tma="tmux attach -t " 
alias \
		yt="youtube-dl" \
		yt-f="youtube-dl -f" \
		yt-F="youtube-dl -F" \
		yts="yt --write-sub --skip-download" \
		yts-all="yts --all-subs" \
		yts-best="yts --sub-format "best"" \
		yts-srt="yts --sub-format "srt"" \
		yts-ass="yts --sub-format "ass"" \
		yts-F="yt --list-subs" \
		ytsl="yts --sub-lang" \
		ytsl-auto="yt --write-auto-sub" \
		ytsl-ar="yts --sub-lang ar" \
		ytsl-ru="yts --sub-lang ru" \
		ytsl-id="yts --sub-lang id" \
		ytsl-en="yts --sub-lang en" \
		ytt="yt --write-thumbnail --skip-download " \
		ytt-all="yt --write-all-thumbnails --skip-download " \
		ytt-F="yt --list-thumbnail" \
		yta-fbest="youtube-dl -f bestaudio" \
		yta-best="youtube-dl --x --audio-format best" \
		yta-aac="youtube-dl --x --audio-format aac" \
		yta-mp3="youtube-dl --x --audio-format mp3" \
		yta-flac="youtube-dl --x --audio-format flac" \
		yta-wav="youtube-dl --x --audio-format wav" \
		yta-opus="youtube-dl --x --audio-format opus" \
		yta-vorbis="youtube-dl --x --audio-format vorbis" \
		ytv-best="youtube-dl --add-metadata -i -f bestvideo+bestaudio" \
		ytv-mp4="youtube-dl --add-metadata -i -f mp4" \
		ytv-mkv="yt-dl --add-metadata -i -f mkv"

#chezmoi
alias \
		chez="chezmoi" \
		chezed="chezmoi edit" \
		cv="chezmoi edit" \
		chezap="chezmoi -v apply" \
		chezcd="chezmoi cd" \
		chezat="chezmoi --autotemplate" \
		chezt="chezmoi --template" \
		chezxt="chezmoi execute-template" \
		dtch="chezmoi cd" \
		chezad="chezmoi add" \
		chezdf="chezmoi diff" \
		chezup="chezmoi -v update"
#GIT
# FIXME: REMOVE SOON (deprecated)
alias \
		g="git" \
		lg="lazygit" \
		gs="git status" \
		gst="git status" \
		glr="git log --graph --date=relative" \
		glo="git log --oneline" \
		grv="git revert" \
		gbr="git branch" \
		gco="git checkout" \
		gcl="git clone" \
		gclm="cd $HOME/repos/mario/; git clone" \
		gclo="cd $HOME/repos/others/; git clone" \
		gclB="git clone --bare" \
		gad="git add" \
		gp="git push" \
		gpom="git push -u origin master" \
		gci="git commit" \
		grm="git remote" \
		gin="git init" \
		ginB="git init --bare"

#GIT BARE
#alias \
#		rdf="/usr/bin/git --git-dir=$HOME/repos/mario/bare/dotfiles/ --work-tree=$HOME" \
#		rsm="/usr/bin/git --git-dir=$XDG_BARE_HOME/suckless-mario --work-tree=$HOME" \
#		rdd="/usr/bin/git --git-dir=$XDG_BARE_HOME/dumpdot --work-tree=$HOME" \
#		rdt="/usr/bin/git --git-dir=$HOME/repos/test --work-tree=$HOME" \
#		rdfut="rdf config --local status.showUntrackedFiles no" \
#		rsmut="rsm config --local status.showUntrackedFiles no" 

alias \
		suckc="make clean && rm -rf config.h && git reset --hard origin/master" \
		suckm="make && sudo make clean install"
# Task Warrior
tasktag(){
	task +$1
}
alias tt="tasktag"

todos() {
	${EDITOR:-nvim} $(rg -n '.*' "$HOME/Dropbox/media/documents/notes/gtd/" | fzf --layout=reverse --height 50% --ansi | sed -E 's/(.*):([0-9]+):.*/\1 +\2/g');
}
getbw(){
	selected="$(rbw ls | fzf)"
	rbw get "$selected"
}	
