#!/bin/zsh
# zsh profile file. Runs on login. Environmental variables are set here.
# 
#// vim:ft=sh
# Adds `~/.local/bin` to $PATH
{{ if (eq .chezmoi.os "linux") }}
export PATH="$PATH:$(du "$HOME/.local/bin" | cut -f2 | paste -sd ':')"
#export PATH="$PATH:${$(find ~/.local/bin -type d -printf %p:)%%:}"
{{ end }}
export PATH="$HOME/.local/bin${PATH:+:${PATH}}"
unsetopt PROMPT_SP
{{ if (eq .chezmoi.os "darwin") }}
# Lua path MacOS
export PATH="/usr/local/opt/lua/bin:$PATH"
{{ end }}

export PATH=$PATH:$HOME/.config/emacs-doom/bin
export NPM_CONFIG_PREFIX=~/.local/

# Default programs:
{{ if (eq .chezmoi.os "darwin") }}
export TERMINAL="kitty"
{{ else }}
# TODO: check chezmoi docs
# better if we can check whether `terminal` exist or not.
export TERMINAL="st"
{{ end }}
export EDITOR="nvim"
export VISUAL="nvim"
export CODEEDITOR="nvim"
export BROWSER="brave"
export READER="zathura"
export QT_QPA_PLATFORMTHEME="qt5ct"
# ~/ Clean-up: 
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export PASSWORD_STORE_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/password-store"
export WGETRC="${XDG_CONFIG_HOME:-$HOME/.config}/wget/wgetrc"
export NOTMUCH_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/notmuch"
#export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority" # This line will break some DMs.
export XINITRC="${XDG_CONFIG_HOME:-$HOME/.config}/x11/xinitrc"
export LESSHISTFILE="-"
export VSCODE_PORTABLE="$XDG_CONFIG_HOME/VSCodium"
export GITBARE="$HOME/repos/mario/bare"
export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
export BASHRCDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/bash"
export GOPATH="${XDG_DATA_HOME:-$HOME/.local/share}/go"
export KODI_DATA="${XDG_DATA_HOME:-$HOME/.local/share}/kodi"
export CARGO_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/cargo"
export LEDGER_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/hledger.journal"
export GTK2_RC_FILES="${XDG_CONFIG_HOME:-$HOME/.config}/gtk-2.0/gtkrc-2.0"
export GRADLE_USER_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/gradle"
export INPUTRC="${XDG_CONFIG_HOME:-$HOME/.config}/shell/inputrc"
export RUSTUP_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/rustup"
export NVM_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/nvm"
# ANDROID
#
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="${XDG_CONFIG_HOME}/java"
export ANDROID_SDK_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANDROID_AVD_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANDROID_EMULATOR_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANDROID_VENDOR_KEY="${XDG_CONFIG_HOME:-$HOME/.config}/android"

export QT_QPA_PLATFORMTHEME="gtk2"	# Have QT use gtk2 theme.
export _JAVA_AWT_WM_NONREPARENTING=1	# Fix for Java applications in dwm
# XMONAD
export XMONAD_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/xmonad"
export XMONAD_DATA_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/xmonad"
export XMONAD_CACHE_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/xmonad"
#OTher
export DICS="/usr/share/stardict/dic/"
export LESS=-R
export LESSOPEN="| /usr/bin/highlight -O ansi %s 2>/dev/null"
export FZF_DEFAULT_OPTS="--layout=reverse --height 40%"

# spicetify
export SPICETIFY_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/spicetify"
# Calibre
export CALIBRE_USE_DARK_PALETTE=1
export CALIBRE_CONFIG_DIRECTORY="${XDG_CONFIG_HOME:-$HOME/.config}/calibre"

# XRDM 
export XRDM_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/x11/xresources.d"
export XRDM_FONT_DIR="$XRDM_DIR/fonts"
export XRDM_COLOR_DIR="$XDRM_DIR/colors"
export XRDM_PRESET_DIR="$XRDM_DIR/presets"
export XRDM_PROGRAM_DIR="$XRDM_DIR/programs"

[ -f ${XDG_CONFIG_HOME:-$HOME/.config}/lf/LF_ICONS ] && source ${XDG_CONFIG_HOME:-$HOME/.config}/lf/LF_ICONS
[ ! -f ${XDG_CONFIG_HOME:-$HOME/.config}/shell/shortcutrc ] && shortcuts >/dev/null 2>&1 &
{{ if (eq .chezmoi.os "linux") }}
if pacman -Qs libxft-bgra >/dev/null 2>&1; then
	# Start graphical server on user's current tty if not already running.
	[ "$(tty)" = "/dev/tty1" ] && ! pidof -s Xorg >/dev/null 2>&1 && exec startx
else
	echo "\033[31mIMPORTANT\033[0m: Note that \033[32m\`libxft-bgra\`\033[0m must be installed for this build of dwm.
Please run:
	\033[32myay -S libxft-bgra-git\033[0m
and replace \`libxft\`. Afterwards, you may start the graphical server by running \`startx\`."
fi

#sudo -n loadkeys ${XDG_DATA_HOME:-$HOME/.local/share}/larbs/ttymaps.kmap 2>/dev/null
{{ end }}
