file:///home/{{- .chezmoi.hostname }}/books/
file:///home/{{- .chezmoi.hostname }}/repos/mario/
file:///home/{{- .chezmoi.hostname }}/repos/others
file:///home/{{- .chezmoi.hostname }}/downloads
file:///home/{{- .chezmoi.hostname }}/Dropbox
file:///home/{{- .chezmoi.hostname }}/.config
file:///home/{{- .chezmoi.hostname }}/.local/share/
